body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.center {
  width: min(60%, 1000px);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px;
  background: rgb(244, 244, 244);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.change-my-choice {
  width: fit-content;
  padding: 10px 18px;
  background-color: #0f152d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
}

.change-my-choice-text {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.select-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #b5b5b5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #e1e1e1;
}

.select-items-label {
  font-size: 16px;
  font-weight: 600;
}

.elements-list {
  list-style: none;
  margin: 0;
  padding: 4px;
  border-bottom: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;

}

.element {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.edit-info-container {
  padding: 5px;
}

.edit-info-text {
  font-size: 12px;
}

.filters {
  padding: 12px;
  border-bottom: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  display: flex;
  gap: 20px;
}

.filter-group {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.search-input,
.filter-select {
  padding: 7px 10px;
  min-width: 200px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
  background-color: white;
  outline: none;
}

.filter-select {
  cursor: pointer;
}


.element-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.element-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #0f152d;
}

.element-checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.footer {
  padding: 16px;
  border-bottom: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.buttons-bar {
  margin-top: 20px;
  gap: 10px;
  display: flex;
}

.save-text-button {
  padding: 10px 18px;
  background-color: #0f152d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.save-text-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.cancel-text-button {
  padding: 10px 18px;
  background-color: #991212;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-text,
.cancel-text {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}


.current-selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  align-items: center;
}

.selected-element {
  background-color: #0f152d;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;

}

.selected-element-label {
  color: white;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.selected-element-remove {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 1, 1);
  margin-left: 8px;
}

.updated-elements-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.updated-element {
  background-color: #0f152d;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;

}

.updated-element-label {
  color: white;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.no-elements-container {
    padding: 10px;
}